# To run a yosys script simplydo "yosys -s name.ys" at the command line

# read command file
read_slang -f {{ cmdfile }} --top {{ top }}

# Check design hierarchy and set top module
hierarchy -check -top {{ top }}  # Replace 'top' with your top module name

# Generic synthesis
synth -top {{ top }}

# Technology mapping
synth_ice40 -top {{ top }}

# Get stats
tee -o {{ name }}_stats.json stat -top {{ top }} -json

# Write synthesized netlist as Verilog
write_verilog -noattr {{ name }}.vg
