# To run a yosys script simplydo "yosys -s name.ys" at the command line

# read fileset command file (*.f)
read_slang -f {{ filesetfile }} --top {{ top }}

# Check design hierarchy and set top module
hierarchy -check -top {{ top }}  # Replace 'top' with your top module name

# FPGA synthesis + technology mapping
{{cmd}} {{ options }}

# Get stats
tee -o {{ name }}_stats.json stat -json

# Write synthesized netlist as Verilog
write_verilog -noattr {{ name }}.vg
